
*{
  box-sizing: border-box;
  margin:0;
}
:root{
  --primary: #5780c1;
 --primary2:#4572ba;
 --primary3:#3e66a8;
--primary4:#375b95;
 --primary5:#34568b;
 --primary6: #305082;
 --secondary:#d02f47;
 --secondary1:#bb2a40;
 --secondary2:#a62639;
 --secondary3:#9b2335;
 --secondary4:#912132;
 --secondary5:#7d1c2b;
}

.App{
  position:relative;
}